


@media(min-width:700px) {
    
    #filtoResponsivo{
        display: none;
    }

    
}
      
@media(max-width: 700px){

    #containerFiltro{
        display: none;
    }
    

}        



.novembroMidia{
    width:100%;
}



.novembroMenu{ 
    background: #;
    height: 80px;
}

.divCAIXA{
    background:#555555!important;
}

#desconto{
    position: absolute;
    top: 1px;
    width: 110px;
    height: 100px;
    right: 0px;
}